body {
    background-color: #F0F4F1;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #064E3B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 0;
    gap: 50px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.new-book {
    background-color: #10B981;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 15px 40px;
}

dialog {
    margin: auto;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: min(400px, 90%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    align-self: center;
}

form div {
    display: flex;
    justify-content: space-between;
}

.buttons {
    flex-grow: 1;
    gap: 10px;
}

.buttons button {
    border-radius: 50px;
    border: none;
    padding: 10px;
    font-weight: bold;
}

.add {
    flex-grow: 1;
    background-color: #064E3B;
    color: white;
}

.cancel {
    background-color: grey;
    color: white;
}

.books {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #D1FAE5;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(6, 78, 59, 0.15);
    padding: 20px;
    margin: 20px;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 10px;
}

.book-stats {
    font-size: 1.2rem;
}
